h1 {
  text-align: center;
  font-family: sans-serif;
  color: blue;
}
.container {
 font-weight: bolder;
}
.img {
  border: 4px red;
  padding: 4px
  margin: 6px;
  background-color: green;
  float: left;
}
